.CoinFlippingSim {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction:column;
    height: 80%;
    width: 80%;
}

.row {
    display: flex;
    flex-direction: row;
    height: 50%;
}

.column {
    display: flex;
    flex-direction: column;
}

#CoinFlippingSim-ControlPanel {
    width: 50%;
}

#CoinFlippingSim-PlottingPanel {
    width: 50%;
}

#CoinFlippingSim-TablePanel {
    width: 50%;
}

#CoinFlippingSim-CoinPanel {
    width: 50%;
}