.CoinFlippingSim {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    height: 80%;
    width: 80%;
    background-color: beige;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px gray;
}

.row {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 50%;
    width: 100%;
}

#CoinFlippingSim-ControlPanel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%
}

.panel {
    box-sizing: border-box;
    padding: 1em;
}

#CoinFlippingSim-ButtonPanel {
    box-sizing: content-box;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#CoinFlippingSim-PlottingPanel {
    width: 50%;
}

#CoinFlippingSim-TablePanel {
    width: 50%;
    height: 100%;
    overflow-y: auto;
}

#CoinFlippingSim-CoinPanel {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 2.2vh;
    width: 40%;
    height: 80%;
    border-radius: 1rem;
    margin: 1rem;
    border-width: none;
    box-shadow: 0 2px 4px;
}

#reset-button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 210,0);
}

#flip-button {
    background-color: rgb(255, 210,0);
    color: rgb(0, 0, 0);
}