.CoinFlippingSim {
    display: flex;
    justify-content: center;
.row {
    display: flex;
    flex-direction: row;
    height: 50%;
}

.column {
    display: flex;
    flex-direction: column;
}

#CoinFlippingSim-ControlPanel {
    width: 50%;
}

#CoinFlippingSim-PlottingPanel {
    width: 50%;
}

#CoinFlippingSim-TablePanel {
    width: 50%;
}

#CoinFlippingSim-CoinPanel {
    width: 50%;
}