thead {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

tr {
    text-align: center;
}

.sequence {
    text-align: left;
th.number, th.result {
    width: 10%;
}

th.sequence {
    width: 50%;
}

th.knowledge {
    width: 30%;
}